@model netchill.ViewModel.RegisterVm
@{

    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">


            <div class="card">

                <div class="card-header"> <h2 class="heading">Register</h2> </div>
                <div class="card bg-light ">

                    <div class="card-body">

                        <form method="POST">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            @*UserName*@
                            <div class="mb-3">
                                <label class="form-label" asp-for="UserName">UserName</label>
                                <input type="text" asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            @*Email*@
                            <div class="mb-3">
                                <label class="form-label" asp-for="Email">Email Address</label>
                                <input type="text" asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            @*Password*@
                            <div class="mb-3">
                                <label class="form-label" asp-for="Password">Password</label>
                                <input type="password" asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            @*Conform Password*@
                            <div class="mb-3">
                                <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            @*Button Submit*@
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </form>
                    </div>

                     <div class="card-footer">
                        Wanna Login? <a asp-controller="Login" asp-action="Index">Login</a>

                    </div>
                </div>

                
            </div>





        </div>
    </div>
</div>
