
/* HOME CSS  */


#root{
    margin-bottom: 10px;
}


.row {
   
    display: table;
    border-collapse: collapse;
    width: 100%;
  }


  a {
    display: table-cell;
    vertical-align: top;
  }

 
   img {
    display: block;
    width: 100%;
    height: auto;
    margin:5px 7px;

    max-width: 95%;
    max-height: auto;
  }

.moviename{
  color: rgb(238, 235, 228);
}
/* HOME CSS END */



/* NAVMENU CSS  */




/* NAVMENU CSS END */



/*VIDEO FILE RENDER CSS */

.videofile {
  text-align:center;
}

video {
  width: 90%;
  height: auto;
}
/*VIDEO FILE RENDER CSS FINISH*/






.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(14, 7, 20);
}

/* PAGINATION  */




/* PAGINATION END */
