@model netchill.ViewModel.LoginVm
@{
    ViewData["Title"] = "Logout";
}

<form method="POST">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-4 ">
                <p>Are you sure you want to Logout?</p>
                <p> 
                    <button class="btn btn-primary" asp-controller="Logout" asp-action="Logout">Yes</button>
                    <button class="btn btn-light ml-5 border-danger" asp-controller="Logout" asp-action="DontLogout">No</button>
                </p>
            </div> 
        </div>
    </div>
</form>
     
