@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@model IEnumerable<netchill.Model.DCandidate>

<div class="container p-3">
   
   <h2>hello dotnet</h2>
</div>

